<nav class="navbar navbar-default" *ngIf="mostrarMenu == true">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Indra</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active-link"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active-link"><a routerLink="/form">Meu form</a></li>
      <li routerLinkActive="active-link"><a routerLink="/clientes" [queryParams]="{pagina : 1}">Cliente (ngFor)</a></li>
      <!-- <li routerLinkActive="active"><a [routerLink]="['/cliente',  idClienteForm.value]">Clientes com ID</a></li> -->
      <li routerLinkActive="active-link"><a routerLink="/buscar-cep">Buscar CEP</a></li>

      <li routerLinkActive="active-link"><a routerLink="/aluno">Aluno</a></li>

      <li routerLinkActive="active-link"><a routerLink="/form-reativo">Form Reativo</a></li>
      <li routerLinkActive="active-link"><a routerLink="login">Login</a></li>




    </ul>
  </div>
</nav>

<div class="container">

  <!-- <form #meuForm="ngForm">
    <label for="">ID Cliente</label>
    <input type="text" placeholder="ID do Cliente"name="idClienteForm" ngModel class="form-control" #idClienteForm>
   <br />
  </form> -->

  <router-outlet></router-outlet>
</div>

<!--<app-diretivas-class-style></app-diretivas-class-style>-->

<!-- <alert type="success">Pizzaria</alert> -->
<!-- <app-nome></app-nome>-->

<!--<app-ciclo *ngIf="destruirCiclo == false" [contador]="numero"></app-ciclo>

<input type="button" (click)="destruirCicloClick()" name="" value="Adiciona">



Numero: {{numero}}

<input (click)="somarMaisUm()" type="button" name="" value="Adicionar"/>

<br />
<br />

Destruir ciclo:
<br />
Destruir: {{numero2}}
<input (click)="adicionarNum()" type="button" name="" value="Somar">
-->

<!--
   <div class="header">
     <nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand" href="#">
             <img alt="Brand" src="./assets/img/favicon.ico">
           </a>
         </div>
       </div>
     </nav>
   </div>

   <div class="meuConteudo">
     <p>
       Grande Porte
     </p>
   </div>

   <div class="outroConteudo">
     <p>Grande Porte Funciona Outro Conteúdo!</p>
   </div>

   <div class="footer">
     <ul>
       <li>Link 1</li>
       <li>Link 2</li>
     </ul>
   </div>
 </app-ng-content><hr>

Calculo IMC<br>
<app-calculo>Calcular IMC</app-calculo><hr>



<app-input-output numero="1" (click)="handleClick($event)" address="Avenida Guido Caloi"></app-input-output><hr>

<app-input-output2 (meuClique)="clicar($event)"></app-input-output2><hr>

<app-tecla (saida)="cliqueTexto($event)"></app-tecla>

<app-diretivas-cor>
</app-diretivas-cor>
<app-cliente></app-cliente><hr>
<app-elvis></app-elvis> -->
