<app-meu-form></app-meu-form>

<!--<app-diretivas-class-style></app-diretivas-class-style>-->
<!--<app-primeiro></app-primeiro> -->
<!-- <alert type="success">Pizzaria</alert> -->
 <!--<app-nome></app-nome><hr>-->

<!--<app-ciclo *ngIf="destruirCiclo == false" [contador]="numero"></app-ciclo>

<input type="button" (click)="destruirCicloClick()" name="" value="Adiciona">



Numero: {{numero}}

<input (click)="somarMaisUm()" type="button" name="" value="Adicionar"/>

<br />
<br />

Destruir ciclo:
<br />
Destruir: {{numero2}}
<input (click)="adicionarNum()" type="button" name="" value="Somar">
-->

<!--
   <div class="header">
     <nav class="navbar navbar-default">
       <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand" href="#">
             <img alt="Brand" src="./assets/img/favicon.ico">
           </a>
         </div>
       </div>
     </nav>
   </div>

   <div class="meuConteudo">
     <p>
       Grande Porte
     </p>
   </div>

   <div class="outroConteudo">
     <p>Grande Porte Funciona Outro Conteúdo!</p>
   </div>

   <div class="footer">
     <ul>
       <li>Link 1</li>
       <li>Link 2</li>
     </ul>
   </div>
 </app-ng-content><hr>

Calculo IMC<br>
<app-calculo>Calcular IMC</app-calculo><hr>
<app-ir>Calculo de IR</app-ir><hr>


<app-input-output numero="1" (click)="handleClick($event)" address="Avenida Guido Caloi"></app-input-output><hr>

<app-input-output2 (meuClique)="clicar($event)"></app-input-output2><hr>

<app-tecla (saida)="cliqueTexto($event)"></app-tecla>

<app-diretivas-cor>
</app-diretivas-cor>
<app-cliente></app-cliente><hr>
<app-elvis></app-elvis> -->
