<p>
  Formulário Reativo
</p>

<form [formGroup]="formComponent" (ngSubmit)="onSubmit()">

   <div class="form-group" [ngClass]="aplicarCssElemento('nome')">
     <label for="nome" class="control-label">Nome</label>
     <input type="text" formControlName="nome" class="form-control">
     <app-mostrar-erro [messageError]="['Nome inválido']" [showError]="isError('nome')"></app-mostrar-erro>
   </div>


   <div class="form-group" [ngClass]="aplicarCssElemento('nome')">
     <label for="email" class="control-label">Email</label>
     <input type="email" formControlName="email" class="form-control">
     <app-mostrar-erro [messageError]="['Email inválido']" [showError]="isError('email')"></app-mostrar-erro>
   </div>



   <input type="submit" value="Enviar" class="btn-lg btn-primary">
   <input type="button" value="CEP" (click)="consultarCep()">
   <app-form-debug [formularioDebug]="formComponent">
   </app-form-debug>
</form>
