<ul>
  <li *ngFor = "let c of clientes">{{c}}</li>
</ul>
    <div class="row">
      <div class="col-md-3">
        <img class="img-responsive center-block" src="https://grandeporte.com.br/img/ead.jpeg">
      </div>

      <div class="col-md-6">
        <img class="img-responsive center-block" src="https://grandeporte.com.br/img/ead.jpeg">
      </div>

      <div class="col-md-3">
        <img class="img-responsive center-block" src="https://grandeporte.com.br/img/ead.jpeg">
      </div>
  </div>
